@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS&display=swap');

  .carousal__container{
    justify-content: center;
  }
  .carousal__slide {
    text-align: center;
    width: 40%;
    margin-right: 20px;
    justify-content: space-between;
    gap: 5px;
    display: flex;
    position: relative;
  }
  
  .carousal__item {
    display: flex;
  }
 
  .carousal__img {
    width: 90%;
    height: 450px;
    object-fit:fill;
    z-index: 0;
    filter: blur(1px);
    margin-left: 20px;
    
  }

  
  .slick-next {
    position: absolute;
    top: 55%;
    left: 95%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    font-size: 0px;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .slick-prev{
    position: absolute;
    top: 55%;
    left: 2%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    font-size: 0px;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .slick-prev::marker{
    font-size: 55px;
  }

  /*.carousal__information{
    width: 50%;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    top: 65%;
    left: 3%;
    padding:20px;
    border-radius: 35px;
    
  }*/

 /* .carousal__description{
   overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  line-height: 1.2em;
  max-height: 2.4em; 
  text-overflow: ellipsis;
  padding-right: 15px;
  padding-left: 15px;
  }
*/
  .carousal__title{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 10px;
  }

