.favorites__reset{
        background-color:#232323;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 1px;
        font-weight: lighter;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-right: 10px;
        color:rgba(212, 0, 255, 0.76);
        font-size: 18px;
        border-radius: 8px;
      }
      
      .favorites__reset:hover {
        transform: scale(1.1);
      }
      
      .favorites__reset:active {
        transform: scale(0.9);
      }

.favorites__container{
    margin-top: 10px;
    display: grid;
    width: 98%;
    height: fit-content;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    grid-row-gap: 20px; 
    
}
.favorites{
    position: relative;
   
}

.favorites__information{
    margin-left: 220px;
    padding-left: 10px;
    margin-top: 15px;
    padding-top: 0%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 170px;
    color: rgb(150, 150, 150);
    border-radius: 10px;
    border-style: none ;
    text-align: left;
    cursor: pointer;
    z-index: 0;
}

.favoritesmini__audiocontainer{
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 50px;
}