:root {
    --color-light-blue: #61DAFB;
    --color-medium-blue: #21222A;
    --color-heavy-blue: #282D35;
    --color-medium-purple: #5a189a;
}

@media (min-width: 100px) and (max-width: 499px){
 body .header__container{
  height: 60px;
  background-color: #131313;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
 }
 
 .nav__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .podcast__img{
    display: none;
  }

  .podcast__name{
    display: none;
  }

  .nav__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-top: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    align-items: center;
   }

   .home{
    display: flex;
    flex-direction: column;
    cursor: pointer;
   }

   .home > h3 {
    padding-left: 8px;
    margin-top: 0;

   }

   .user{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
  }

  .user > h3 {
    padding-left: 8px;
    margin-top: 0;

   }

  .bookmark{
    display: flex;
    flex-direction: column;
  }

  .bookmark > img {
    width: 46%;
    margin-left: 40px;
    margin-bottom: 0;
   }
   
   .bookmark > h3 {
    padding-left: 2px;
    padding-top: 1px;
    margin-top: 0;
    margin-left: 30px;
   }
  
   .homeActive{
    display: flex;
    border-top-color:rgba(212, 0, 255, 0.76); 
    border-top-style: ridge;
    padding-top: 2px;
   }
  
   .userActive{
    display: flex;
    border-top-color:rgba(212, 0, 255, 0.76); 
    border-top-style: ridge;
    padding-top: 2px;
   }
  
   .bookmarkActive{
    display: flex;
    border-top-color:rgba(212, 0, 255, 0.76); 
    border-top-style: ridge;
   }
}

@media only screen and (min-width: 500px){
  .header__container{
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    border-radius: 20px;
    height: 270px;
 }
 
 .left__elements{ /* This is all the elements on the left hand side of header: the mic and heading.*/
     display: flex;
     height: 60px;
     background-color: #131313;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
 }
 
 .podcast__img{
     width: 35px;
     object-fit: contain;
 }
 
 .podcast__name {
     font-size: 25px;
     color: rgba(212, 0, 255, 0.76);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .nav__buttons{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .home{
  display: flex;
  align-items: center;
  cursor: pointer;
 }



.user{
  display: flex;
  align-items: center;
  cursor: pointer;
}


.bookmark{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bookmark > img {
 margin-left: 3px;
}

.homeActive{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left-color:rgba(212, 0, 255, 0.76); 
  border-left-style: ridge;
 }

 .userActive{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left-color:rgba(212, 0, 255, 0.76); 
  border-left-style: ridge;
 }

 .bookmarkActive{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left-color:rgba(212, 0, 255, 0.76); 
  border-left-style: ridge;
 }

}
 
