@media (min-width: 100px) and (max-width: 499px) {
   body .signup__page{
        background-image: url('../assets/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        overflow-y: hidden;
    }
    .signup__container{
        display: grid;
        width: 78%;
        height: 330px;
        position: absolute;
        top: 27%;
        left: 13%;
        border-width: 2px;  
        box-shadow: inset 1 1 2000px rgba(7, 7, 7, 0.9);
        border-color:  rgba(7, 7, 7, 0.9);
        border-width: 5px;
        border-radius: 20px;
        backdrop-filter: blur(13px);
        padding: 15px;
    }
    
    .fullname__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .email__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .password__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .button__container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .submit__signup{
        padding: 5px;
        margin: 0;
        height: 41px;
        width: 80px;
        border-radius: 20px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        cursor: pointer;
    }
    
    .login__signup{
        padding: 5px;
        margin: 0;
        height: 41px;
        width: 80px;
        border-radius: 20px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        cursor: pointer;
    }
}

@media (min-width: 500px) {
    .signup__page{
        background-image: url('../assets/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        overflow-y: hidden;
    }
    .signup__container{
        display: grid;
        width: 58%;
        height: 330px;
        position: absolute;
        top: 27%;
        left: 36%;
        border-width: 2px;  
        box-shadow: inset 1 1 2000px rgba(7, 7, 7, 0.9);
        border-color:  rgba(7, 7, 7, 0.9);
        border-width: 5px;
        margin-left: 8px;  
        border-radius: 20px;
        backdrop-filter: blur(13px);
        padding: 15px;
    }
    
    .fullname__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .email__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .password__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .button__container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .submit__signup{
        padding: 5px;
        margin: 0;
        height: 41px;
        width: 80px;
        border-radius: 20px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        cursor: pointer;
    }
    
    .login__signup{
        padding: 5px;
        margin: 0;
        height: 41px;
        width: 80px;
        border-radius: 20px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        cursor: pointer;
    }
}

@media (min-width: 980px) {
    .signup__page{
        background-image: url('../assets/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        overflow-y: hidden;
    }
    .signup__container{
        display: grid;
        width: 38%;
        height: 330px;
        position: absolute;
        top: 27%;
        left: 36%;
        border-width: 2px;  
        box-shadow: inset 1 1 2000px rgba(7, 7, 7, 0.9);
        border-color:  rgba(7, 7, 7, 0.9);
        border-width: 5px;
        margin-left: 130px;  
        border-radius: 20px;
        backdrop-filter: blur(13px);
        padding: 15px;
    }
    
    .fullname__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .email__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .password__container{
        border-radius: 20px;
        margin: 10px;
        padding: 3px;
        height: 50px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        padding-left: 15px;
    }
    
    .button__container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .submit__signup{
        padding: 5px;
        margin: 0;
        height: 41px;
        width: 80px;
        border-radius: 20px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        cursor: pointer;
    }
    
    .login__signup{
        padding: 5px;
        margin: 0;
        height: 41px;
        width: 80px;
        border-radius: 20px;
        border: solid;
        border-color:rgba(212, 0, 255, 0.76);
        border-width: 2px;
        cursor: pointer;
    }
}

@media (min-height: 1000px) {
    .signup__page{
        background-image: url('../assets/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1500px;
        overflow-y: hidden;
    }
  }