@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS&display=swap');

@media ( min-width: 100px) {
 body .carousal__container{
    margin-top: 30px;
    justify-content: center;
    border-style: none;
    width: 100%;
    height: 250px;
    margin-right: 0;
    margin-left: 0;
    background-color: #232323;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    list-style: none;
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 25px;
  }
  
  .slick-dots li {
    margin: 0 4px;
  }
  
  .slick-dots li:nth-child(n+8) {
    display: none;
  }
  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
  }
  
  .slick-dots li.slick-active button {
    background-color: #000;
  }
  

  .carousal__img {
    width: 40%;
    height: 100px;
    object-fit:fill;
    z-index: 0;
    margin-left: 5px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    
  }
  .carousal__title{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    padding-left: 37px;
    padding-right: 4px;
    color: whitesmoke;
    line-height: 1.1em;
    font-weight: lighter;
  }

  .carousal__seasons{
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 248, 248);
    width: 70%;
    border-radius: 5px ;
    font-size: 16px;
    opacity: 0.6;
    margin-left: 40px;
  }

  .carousal__slide {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: row;
    position: relative;
  
  }
  .carousal__top{
    color: white;
    background-color: #181818;
    height: 50px;
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .carousal__top > h3 {
    padding-top: 10px;
    padding-left: 10px;
  }
 
  .carousal__info{
    display:flex;
    flex-direction: row;
    background-color: #181818;
    border-radius: 20px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
  }
  
  .carousal__heading{
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: lighter;
    color: whitesmoke;
  }
}

/*@media ( min-width: 650px) {
  .carousal__container{
    margin-top: 30px;
    justify-content: center;
    border-style: outset;
    border-width: 2px;
    width: 80%;
    height: 450px;
    margin-left: 100px;
    margin-right: 130px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 15px;
    border-color: grey;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.76);
  }

  .slick-next {
    position: absolute;
    top: 42%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    font-size: 0px;
    padding: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .slick-prev{
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    font-size: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    margin-right: 5px;
  }
  .carousal__img {
    width: 97%;
    height: 320px;
    object-fit:fill;
    z-index: 0;
    margin-left: 6px;
   
  }
  .carousal__title{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 15px;
    padding-left:7px;
    padding-right: 7px;
    color: whitesmoke;
    line-height: 1em;
    font-weight: lighter;
  }

  .carousal__seasons{
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 248, 248);
    width: 40%;
    border-radius: 5px ;
    font-size: 10px;
    opacity: 0.6;
    margin-left: 68px;
  }

  .carousal__slide {
    text-align: center;
    width: 20%;
    justify-content: space-between;
    display: flex;
    position: relative;
  
  }
  
  .carousal__heading{
    margin-top: 40px;
    text-align: center;
    margin-right: 10px;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: lighter;
    color: whitesmoke;
    margin-left: 60px;
  }
}


@media(min-width: 1000px) {
  .carousal__container{
  margin-top: 30px;
  justify-content: center;
  border-style: outset;
  border-width: 2px;
  width: 85%;
  height: 480px;
  margin-left: 95px;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 15px;
  border-color: grey;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.76);
}
.carousal__slide {
  text-align: center;
  width: 40%;
  margin-right: 45px;
  justify-content: space-between;
  display: flex;
  position: relative;

}

.slick-next {
  position: absolute;
  top: 42%;
  left: 100%;
  margin-left: 19px;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  font-size: 0px;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.slick-prev{
  position: absolute;
  top: 42%;
  left: -5%;
  transform: translateY(-50%);
  background-color: none;
  color: white;
  font-size: 0px;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}
.carousal__img {
  width: 75%;
  height: 320px;
  object-fit:fill;
  z-index: 0;
  margin-left: 50px;
 
}

.carousal__title{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 19px;
  padding-left:7px;
  padding-right: 7px;
  color: whitesmoke;
  line-height: 1em;
  font-weight: lighter;
}

.carousal__seasons{
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(255, 248, 248);
  width: 50%;
  margin-left: 88px;
  border-radius: 15px ;
  font-size: 15px;
  opacity: 0.6;
}

.carousal__heading{
  margin-top: 40px;
  text-align: center;
  font-size: 22px;
  margin-right: 5px;
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
  font-weight: lighter;
  color: whitesmoke;
}
}




  
  
  
  .slick-prev::marker{
    font-size: 55px;
  }

  

 /*.carousal__description{
   overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  line-height: 1.2em;
  max-height: 2.4em; 
  text-overflow: ellipsis;
  padding-right: 15px;
  font-weight: bolder;
  color: rgb(160, 160, 160);
  }

  

 /*.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.5); 
  }*/

  